<div class="grey_bg center_container">
  <div class="width_container">

    <div class="search_bar">
      <img src="assets/img/search.png" alt="">

      <div class="category">
        <a *ngFor="let category of foods.menus" href="">{{ category.categories }}</a>
      </div>

    </div>

  </div>
</div>

<div class="center_container">
  <div class="width_container">

    <div class="for_food">

      <div *ngFor="let category of foods.menus">
        <h2 [class.text_up]="category.categories == 'bbqs'" class="grey_bg pad1rem text_capi">{{ category.categories }}
        </h2>

        <div *ngFor="let food of category.food" class="food_container">

          <div class="description">
            <div>
              <h3>{{ food.name }}</h3>
              <span class="dsc">{{ food.dsc }}</span>
            </div>
            <span class="price">{{ food.price }} €</span>
          </div>

          <div>
            <img class="food_img" src="{{ food.img }}" alt="" onerror="this.src='assets/img/fork.jpg'">
          </div>

          <div class="abb_button" >
            <img  src="assets/img/plus.png" alt="">
          </div>

        </div>

      </div>


    </div>

  </div>
</div>
