.grey_bg {
  background-color: #F8F5F2;
}

.border_right {
  border-right: 2px solid #dddddd;
  box-sizing: border-box;
}

.sticky{
   position: sticky;
  top: 0;
  z-index: 2;
}

.search_bar {

  height: 56px;
  position: static;
  top: 0px;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    height: 20px;
    width: 20px;
  }

  .category {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;

    a {
      text-decoration: none;
      color: #0A3847;
      text-transform: capitalize;
      white-space: nowrap;
      font-size: 14px;
    }
  }
}


.for_food {
  padding: 0 1rem 1rem 1rem;

  h2 {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }

  .food_container {
    position: relative;
    display: flex;
    justify-content: space-between;

    &:hover {
      border: 1px solid #146EEB;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 18px;
      }

      .dsc {
        font-size: 14px;
        color: #666666;
      }

      .price {
        font-weight: 600;
        color: #FB6100;
        font-size: 18px;
      }
    }

    .food_img {
      height: 170px;
      width: 170px;
      object-position: center;
      object-fit: cover;
      margin-left: 0.5rem;
      margin-right: 32px;
    }
  }
}

.abb_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;

  img {
    filter: invert(26%) sepia(87%) saturate(1844%) hue-rotate(203deg) brightness(89%) contrast(95%);
  }
}
