<header id="header">
  <div class="left_container">
    <img src="assets/img/left.png" alt="">
    <img class="logo" src="assets/img/logo.png" alt="">
    <span><b>BBBrando</b>.de</span>
  </div>
  <div class="middle_container cursor_default"><b>Menu card</b></div>
  <div class="right_container">
    <div (click)="openCountry($event)" class="flag">

      <div (click)="porpagation($event)" *ngIf="land.displayCountry" class="language">

        <div class="lan_left">

          <h3>Country</h3>

          <div class="countrys">

            <span *ngFor="let land of countrys; let i = index" (click)="selectCountry(i)"
              [class.font_bold]="land.select"><img class="flag_img" src="https://flagcdn.com/w40/{{ land.country }}.png"
                alt="">{{ land.name }}<img [class.opacity0]="!land.select" class="flag_arrow" src="assets/img/arrow.png"
                alt=""></span>

          </div>

        </div>

        <div class="lan_right">

          <h3>Language</h3>
          <span class="select cursor_pointer"><b class="bluehover">English</b> <img src="assets/img/arrow.png"
              alt=""></span>
          <span class="color_grey">Deutsch</span>
          <span class="color_grey">Français</span>
          <span class="color_grey">Nederlands</span>
          <span class="color_grey">Polski</span>
          <span class="color_grey">Dansk</span>
          <span class="color_grey">Български</span>
          <span class="color_grey">Italiano</span>

        </div>
      </div>

    </div>
    <img src="assets/img/menu.png" alt="">

    <div class="my_account">

    </div>

  </div>
</header>
