<header id="header">
  <div class="left_container">
    <img src="assets/img/left.png" alt="">
    <img class="logo" src="assets/img/logo.png" alt="">
   <span><b>BBBrando</b>.de</span>
  </div>
  <div class="middle_container cursor_default"><b>Menu card</b></div>
  <div class="right_container">
    <div class="flag">

      <div class="language">
        <div class="lan_left"></div>
        <div class="lan_right">
          <h3>Language</h3>
          <span class="select"><b>English</b> <img src="assets/img/arrow.png" alt=""></span>
          <span>Deutsch</span>
          <span>Français</span>
          <span>Nederlands</span>
          <span>Polski</span>
          <span>Dansk</span>
          <span>Български</span>
          <span>Italiano</span>
        </div>
      </div>

    </div>
    <img src="assets/img/menu.png" alt="">
  </div>
</header>
