header {
  background-color: rgb(251, 97, 0);
  height: 72px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}

.left_container {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.left_container span {
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.logo {
  height: 28px;
  filter: invert(99%) sepia(17%) saturate(111%) hue-rotate(86deg) brightness(118%) contrast(100%);
}

.middle_container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_container {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.right_container img {
  margin-left: 1rem;
  height: 18px;
  width: 20px;
  cursor: pointer;

}

.flag {
  cursor: pointer;
  // position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #000000 0%, #000000 33%, #fb0000 33%, #fb0000 33%, #fb0000 66%, #ffd700 66%, #ffd700 100%);

  .language {
    cursor: default;
    color: #0A3847;
    position: absolute;
    top: 80px;
    right: 50px;
    height: 504px;
    width: 645px;
    background: #ffffff;
    z-index: 3;
    border-radius: 2px;
    // padding: 1rem;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 8px 11px 0 rgb(29 33 55 / 10%), 0 17px 26px 0 rgb(29 33 55 / 10%), 0 6px 32px 0 rgb(29 33 55 / 10%);

    .lan_left {
      width: calc(100% - 200px);
      border-right: 1px solid #D7D7D7;
      display: flex;
      flex-direction: column;
      padding-top: 1.5rem;
      // gap: 1.5rem;

      h3 {
        margin: 0;
        font-size: 18px;
        width: 100%;
        padding-left: 1rem;
      }

      .countrys {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem 0;
        gap: 1.5rem;
        height: calc(100% - 21px - 3rem);

        span {
width: 40%;
          display: flex;
          align-items: center;
          font-size: 13px;


          &:hover {
            color: #146EEB;
          }

          .flag_img {
            height: 14px;
            width: 14px;
            margin-right: 0.5rem;
            border-radius: 50%;
          }

          .flag_arrow {
            height: 14px;
            width: 14px;
            filter: invert(34%) sepia(79%) saturate(1164%) hue-rotate(188deg) brightness(62%) contrast(97%);

          }
        }
      }
    }

.opacity0{
  opacity: 0;
}

    .font_bold {
      font-weight: bold;
    }

    .lan_right {
      padding: 1rem;
      width: 200px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h3 {
        margin: 0;
        font-size: 18px;
      }

      .select {
        display: flex;
        align-items: center;

        img {
          height: 14px;
          width: 14px;
          filter: invert(34%) sepia(79%) saturate(1164%) hue-rotate(188deg) brightness(62%) contrast(97%);
        }
      }

      .bluehover {
        &:hover {
          color: #146EEB;
        }
      }

      span {
        font-size: 13px;

      }
    }
  }
}

.my_account{
  z-index: 20;
  position: absolute;
  top: 5rem;
  left: 50%;
  margin-left: -336px;
  height: 700px;
  width: 672px;
  background-color: #f8f5f2;
}

