<header id="header">
  <div class="left_container">
    <img src="assets/img/left.png" alt="">
    <img class="logo" src="assets/img/logo.png" alt="">
    <span><b>BBBrando</b>.de</span>
  </div>
  <div class="middle_container cursor_default"><b>Menu card</b></div>
  <div class="right_container">
    <div class="flag">

      <div class="language">

        <div class="lan_left">

          <h3>Country</h3>

          <div class="countrys">

            <span><img src="https://flagcdn.com/w40/de.png" alt="">Germany</span>
            <span><img src="https://flagcdn.com/w20/au.png" alt="">Australia</span>
            <span><img src="https://flagcdn.com/w20/be.png" alt="">Belgium</span>
            <span><img src="https://flagcdn.com/w20/bg.png" alt="">Bulgaria</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Denmark</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">France</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Ireland</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Israel</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Italy</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Canada</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Luxembourg</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">New Zealand</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Netherlands</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Austria</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Poland</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Switzerland</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Slovakia</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">Spain</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">USA</span>
            <span><img src="https://flagcdn.com/w20/gb.png" alt="">United Kingdom</span>

          </div>

        </div>

        <div class="lan_right">

          <h3>Language</h3>
          <span class="select"><b>English</b> <img src="assets/img/arrow.png" alt=""></span>
          <span>Deutsch</span>
          <span>Français</span>
          <span>Nederlands</span>
          <span>Polski</span>
          <span>Dansk</span>
          <span>Български</span>
          <span>Italiano</span>

        </div>
      </div>

    </div>
    <img src="assets/img/menu.png" alt="">
  </div>
</header>
