footer {
  background-color: #0A3847;
  height: 166px;
  color: #fff;
  padding: 2rem 10rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
font-size: 14px;
}

.footer_links{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

button {
  background: #0A3847;
  border: #0A3847;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.color_grey{
  color: #b1b1b1;
}

@media screen and (max-width:1024px) {
  footer{
    height: 485px;
        flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
  }
  .footer_links{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
  }
}
