<div class="p_relativ">

  <img class="first_img" src="assets/img/burgers.jpg" alt="">

  <div class="logo_img">

    <div class="up_burger"></div>
    <span class="title_burger">
      Big Bacon<br>
      Burger
    </span>
    <div class="udown_burger"></div>

  </div>

  <div class="center_container border_right">
    <div class="width_container headline">

      <div>
        <h2>Big Bacon Burger</h2>
        <div class="reviews">
          <div>
            <img src="assets/img/star.png" alt="">
            <img src="assets/img/star.png" alt="">
            <img src="assets/img/star.png" alt="">
            <img src="assets/img/star.png" alt="">
            <img src="assets/img/star.png" alt="">
          </div>
          <u>(2k Ratings)</u>
        </div>
        <div class="deliver">
          <div>
            <img src="assets/img/alarm.png" alt="">
            <span>from 3:30 pm</span>
            <!-- todo -->
          </div>
          <div>
            <img src="assets/img/bike.png" alt="">
            <span>1,90 €</span>
          </div>
          <div>
            <img src="assets/img/bag.png" alt="">
            <span>Min. 19,90 €</span>
          </div>
        </div>
      </div>

      <div class="right_button">
        <button>
          <img src="assets/img/info.png" alt="">
        </button>
        <button>
          <img src="assets/img/favorite.png" alt="">
        </button>
      </div>

    </div>
  </div>

</div>

